<h1><%= title %></h1>

<form method='POST' action=''>
    <div class="form-group">
        <label for='first_name'> First Name: </label>
        <input type='text' id='first_name' class='form-control' placeholder='First Name' name='first_name' value='<%= typeof author == 'undefined' ? ' ' : author.first_name %>' required />
        <label for='family_name'> Family Name: </label>
        <input type='text' id='family_name' class='form-control' placeholder='Family Name' name='family_name' value='<%= typeof author == 'undefined' ? ' ' : author.family_name %>' required />
    </div>
    <div class="form-group">
        <label for='date_of_birth'> Date of birth: </label>
        <input type='date' id='date_of_birth' class='form-control' name='date_of_birth' value='<%= typeof author == 'undefined' ? ' ' : author.date_of_birth_yyyy_mm_dd %>' required />
        <label for='date_of_death'> Date of death: </label>
        <input type='date' id='date_of_death' class='form-control' name='date_of_death' value='<%= typeof author == 'undefined' ? ' ' : author.date_of_death_yyyy_mm_dd %>' />
    </div>
    <button class='btn btn-primary' type='submit'>Submit</button>
</form>

<% if (typeof errors != 'undefined') { %> 
    <% for (const error of errors) { %>
        <p><%= error.msg %></p>
    <% } %>
<% } %>