<h1><%= title %></h1>

<form method='POST' action=''>
    <div class="form-group">
        <label for='title'> Title: </label>
        <input type='text' id='title' class='form-control' placeholder='Name of book' name='title' value='<%= typeof book == 'undefined' ? ' ' : book.title%>' required />
    </div>

    <div class="form-group">
        <label for='author'> Author: </label>
        <select id='author' class='form-control' name='author' required>
            <% authors.forEach( author => { %>
                <% if (typeof book == 'undefined') { %>
                    <option value=<%=author._id%>> <%=author.name %> </option>
                <% } else { %>
                    <option value='<%=author._id%>'> <%= author.name %> </option>
                <% } %>
            <% }) %>
        </select>
    <div class="form-group">
        <label for='summary'> Summary: </label>
        <textarea type='text' id='summary' class='form-control' placeholder='summary' name='summary'>
            <%= typeof book == 'undefined' ? ' ' : book.summary%>
        </textarea>
    </div>

    <div class="form-group">
        <label for='isbn'> ISBN: </label>
        <input type='text' id='isbn' class='form-control' placeholder='ISBN' name='isbn' value='<%= typeof book == 'undefined' ? ' ' : book.isbn%>' required />
    </div>
    <% console.log(genres) %>
    <% for (const genre of genres) { %>
        <div style='display: inline; padding-right:10px'>
            <input type='checkbox' id='<%=genre._id %>' class='form-control' name='genre' id='<%=genre._id%>' value='<%=genre._id%>' />
            <label for='genre'> <%= genre.name %> </label>  
        </div>
    <% } %>
    </div>
    
    <% if (typeof errors != 'undefined') { %> 
        <% for (const error of errors) { %>
            <p><%= error.msg %></p>
        <% } %>
    <% } %>

    <button class='btn btn-primary' type='submit'>Submit</button>
</form>